
.navigation {
    margin-top: 20px;
    transform: translateX(8vw);
    position: absolute;
    z-index: 11;
    right: 20%;
}

ul{
    display: flex;
}

.navigation li {
    padding-left: 3vw;
}
.navigation li:last-child{
    transform: translateX(10vw);
}