* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloc{
    display: flex;
    height: 85vh;
    background-color: rgb(244, 244, 244);
}

.left-bloc{
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    width: 50%;
    background: orange;
    z-index: 10;
    height: 100vh;
}

.form-bank{
    width: 30vw;
    margin-top: 5vw;
    margin-left: 9vw;
    background: white;
    padding: 30px;
    border-radius: 10%;
    border: solid 2px lightblue;
    font-size: 0.9rem;
}

.right{
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    width: 60%;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
    background: rgb(247, 246, 246);
}

li{
    list-style-type: none;
}

.footer{
    position: absolute;
    width: 100vw;
    bottom: 0%;
    height: 10vh;
    background: gray;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
}

.compte{
    text-align: center;
    font-size: 1.5rem;
}

table{
    background: rgb(240, 229, 209);
}

table caption {
    caption-side: top;
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

.table-block{
    margin-left: 35%;
    margin-top: 15%;
    position: relative;
    width: 30vw;
}

.add-bank{
    position: absolute;
    right: 0;
}

.confirm{
    margin-left: 25%;
    margin-top: 25%;
}
.confirm p {
    padding-bottom: 20px;
    line-height: 30px;
    font-weight: bold;
}

.nav-pagination{
    position: absolute;
    z-index: 11;
    right: 20%;
}

img{
    position: relative;
    margin-left: 200px;
    margin-top: 200px;
    width: 80%;
}

.choose-action label{
    margin-bottom: 10px;
}

.choose-action label:nth-child(1){
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.choose-action label:last-child{
    margin-bottom: 30px;
}

.balance {
    position: absolute;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translateX(-50%);
    z-index: 11;
    font-size: 20px;
    border: rgb(172, 172, 172) 1px solid;
    border-radius: 50% 50% 50% 50% / 100%;
    margin-top: 50px;
    background: white;
}

.flash {
    width: 20vw;
    height: 5vh;
    background: rgb(104, 220, 113);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -7vh;
    transition: opacity 2s; /* durée de la transition */
    opacity: 1;
}

.btn-submit .btn {
    margin-top: -40px;
}

.error {
    font-size: 10px;
}

.transfer-success{
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}