<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css.css.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/fragments/nav.css.css" th:href="@{/css/fragments/_nav.css}">




</head>

<body>
<div class="balance">
    <p>Solde: <br><span th:text="${#numbers.formatDecimal(balance, 1, 2)}"></span> €</p>
</div>

<div class="bloc">
    <div th:insert="fragments/navbar::navbar"></div>

    <!-- Left block action -->

    <div class="left-bloc">
        <form method="post" th:action="@{/bank-money-send}" th:object="${bankTransfer}" class="form-bank">

            <div class="choose-action text-center">
                <label>Selectionner l'action à effectuer</label><br>

                <input type="radio" id="send" th:field="*{type}" value="DEBIT" th:checked="${bankTransfer.type == 'DEBIT'}">
                <label for="send">Envoyer de l'argent sur mon compte bancaire</label><br>

                <input type="radio" id="receive" th:field="*{type}" value="CREDIT">
                <label for="receive">Envoyer de l'argent sur mon compte PayMyBuddy</label>
            </div>



            <div class="mb-3 text-center">
                <label for="bankAccount-select" class="mb-3">Choisissez un compte:</label>
                <select class="form-select" id="bankAccount-select" th:field="*{iban}" name="bankIban" aria-label="Default select example">
                    <option th:each="item : ${banklist}" th:text="${item.getIban()}" th:value="${item.getIban()}"></option>
                </select>
            </div>
            <div class="mb-3 text-center">
                <label for="description" class="form-label mb-3">Description</label>
                <input type="text" class="form-control" th:field="*{description}"  id="description" name="description" placeholder="description">
            </div>
            <div class="mb-3 text-center">
                <label for="amount" class="form-label mb-3">Montant</label>
                <input type="text" class="form-control" id="amount" th:field="*{amount}" name="amount" placeholder="amount">
            </div>
            <div class="col-12 text-center mt-5 btn-submit">
                <button class="btn btn-primary" type="submit">Envoyer l'argent</button>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
            <p th:text="${success}" class="transfer-success"></p>

        </form>
    </div>

    <!-- Right block list of transaction -->

    <div class="right">
        <div class="table-block">
        <table class="table table-bordered">
            <caption>Liste des transactions</caption>
            <thead>
            <tr>
                <th>Nom du compte</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.name}"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount + '€'}"></td>
            </tr>
            </tbody>
        </table>
            <div th:if="${hasTransfers}">
            <nav aria-label="Page navigation example" class="nav-pagination">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${page.isFirst() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/bank-money-send(page=${page.number-1})}" aria-label="Précédent">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="item : ${#numbers.sequence(0, page.totalPages-1)}" th:classappend="${page.number==item ? 'active' : ''}">
                        <a class="page-link" th:href="@{/bank-money-send(page=${item})}" th:text="${item+1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page.isLast() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/bank-money-send(page=${page.number+1})}" aria-label="Suivant">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>


</div>

    <!-- End block FOOTER -->

    <div th:insert="fragments/footer::footer"></div>


</body>
</html>